.theme-btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  border: none;
  text-transform: capitalize;
  text-align: center;
  background: $theme-color;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 18px 32px;
  border-radius: 100px;

  i {
    margin-left: 8px;
  }

  img {
    margin-left: 5px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: $header-color;
    z-index: -1;
    transition: all 0.4s ease-out;
    border-radius: inherit;
  }

  &:hover {
    color: $white;
    box-shadow: none;
    

    &::before {
      width: 100%;
    }
  }

  @include breakpoint(max-md) {
    padding: 20px 32px;
  }

  @include breakpoint(max-sm) {
    padding: 18px 20px;
    font-size: 14px;
  }

  &.style-2 {
    background-color: $theme-color-2;
  }

  &.style-3 {
    background-color: $theme-color-3;
    color: $header-color;

    &:hover {
      color: $white;

      img {
        filter: invert(1);
      }
    }
  }

  &.style-4 {
    background-color: $black;

    &:hover {
      &::before {
        background-color: $theme-color;
      }
    }
  }
  
  &.style-5 {
    background-color: $header-color;
    color: $theme-color-3;

    @include breakpoint(max-sm) {
      padding: 15px 20px;
    }

    @include breakpoint(max-lg) {
      padding: 11px;
    }

    &:hover {
      color: $header-color;

      &:before {
        background-color: $theme-color-3;
      }
      
      img {
        filter: invert(1);
      }
    }
  }
}

.link-btns {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  font-family: "Manrope", sans-serif;
  text-transform: capitalize;
  color: $theme-color;
  border-bottom: 1px solid $theme-color;

  a {
    color: $theme-color;

    img {
      margin-left: 5px;
    }
  }

  &:hover {
    a {
      color: $theme-color;
    }
  }
}
